/* tablet - mobile */
@media screen and (max-width: 991.98px) {
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .header {
        position: fixed;
    }
    .navbar {
        display: none;
    }

    .menu.show-mb {
        display: block;
    }
    .header__cart .title {
        display: none;
    }
    .header__inner .action {
        display: none;
    }
    .header__inner .search {
        width: 60%;
    }
    .search__input {
        opacity: 0;
        /* width: 0; */
        transform: translateX(calc(200% - 20px));
    }
    .search .icon {
        right: 0;
        left: initial;
        transition: all 0.3s;
        color: #fff;
    }
    .search .icon:hover {
        cursor: pointer;
        color: cyan;
    }

    .search-icon:checked ~ .search__input {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
        background: #fff;
    }
    .search-icon:checked ~ label .icon {
        color: #000;
        right: initial;
        left: 5px;
    }

    .header__cart .title {
        display: none;
    }
    .hero__inner .desc {
        width: 100%;
    }
    .bg-hero {
        position: absolute;
    }
    .footer-cols {
        margin-top: 30px;
    }
    .footer-logo .logo {
        width: 131px;
    }
    .zalo-icon {
        bottom: 70px;
        right: 20px;
    }
    .zalo-icon .icon {
        width: 50px;
    }
}

/* Mobile*/
@media (max-width: 576px) {
    .input-mail {
        height: 40px;
    }
    .input-icon {
        width: 28px;
    }

    .product {
        padding: 50px 0;
    }
    .introduce {
        padding: 50px 0;
    }
    .introduce-on .introduce-on__col {
        width: 50%;
    }
    .footer {
        padding: 50px 0;
    }
    .card__img .img {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
        transition: all 0.3s;
        background-position: left bottom;
    }

    .card__icon:active {
        color: orange;
        animation: spinner linear 0.3s;
    }

    .footer-social {
        width: 100%;
    }
    .social-list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 0;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .menu.show-mb {
        display: none;
    }
}
