* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
/* common */
a {
    text-decoration: none;
}
input {
    outline: none;
    border: none;
}
button {
    background: none;
    border: none;
}
input,
textarea,
select,
button,
a {
    font-style: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
.header {
    position: sticky;
    width: 100%;
    top: -10px;
    left: 0;
    padding: 30px 0 20px;
    background: #000;
    z-index: 100;
}
.header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.logo {
    width: 131px;
}

/* nav */
.navbar .row {
    flex-wrap: nowrap !important;
}

.nav-list .item-link {
    position: relative;
    color: #fff;
    white-space: nowrap;
    transition: all 0.3s;
}

.nav-list .item-link::before {
    position: absolute;
    left: 50%;
    bottom: -1px;
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    transform: translateX(-50%);
    transition: all 0.3s;
}
.navbar .item-link:hover {
    color: cyan;
    text-shadow: 1px 0 cyan;
}
.navbar .item-link:hover::before {
    background: cyan;
    width: 100%;
}

.navbar-drawer .item-link:hover::before {
    width: 100%;
}

/* navbar - mobile - tablet */
.overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    transition: all 0.2s;

    z-index: 101;
}
.navbar-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #002f87;
    z-index: 150;
    transform: translateX(-100%);
    transition: all 0.2s;
}
.navbar-drawer .nav-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 15% 0 0 10%;
}
.navbar-drawer .nav-list .icon {
    font-size: 20px;
    color: #fff;
}
.navbar-drawer .nav-item {
    width: 100%;
}
.navbar-drawer .item-link {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: end;
    gap: 10px;
    border-radius: 5px;
}
.navbar-drawer .nav-item:hover {
    background: rgba(135, 135, 135, 0.3);
}
.navbar-drawer .btn {
    display: flex;
    justify-content: center;
    width: 80%;
    color: #000;
    background: #fff;
    padding: 10px;

    font-weight: 600;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.3s;
}
.navbar-drawer .btn:hover {
    color: #fff;
    background: #000;
}
.menu .icon {
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
}
.menu .icon:hover {
    cursor: pointer;
    color: cyan;
}
.open-nav:checked ~ .navbar-drawer {
    transform: translateX(0);
}

.open-nav:checked ~ .overlay {
    opacity: 1;
    visibility: inherit;
}
.open-nav:not(:checked) ~ .overlay {
    opacity: 0;
    visibility: hidden;
}

.header__inner .search {
    position: relative;
    width: min(300px, 100%);
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
}
.search-icon {
    background: none;
    border: none;
    width: auto;
    height: auto;
}
.search .icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    z-index: 2;
}
.search__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 25px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.header__cart {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__cart .title {
    color: #ffff;
    white-space: nowrap;
}
.header__cart .icon {
    color: #fff;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}
.header__cart:hover .icon {
    cursor: pointer;
    color: cyan;
    transform: scale(1.2);
    animation: spinner linear 0.3s;
}
.header__cart:hover .title {
    color: cyan;
}
@keyframes spinner {
    0% {
        rotate: 0deg;
    }
    30% {
        rotate: 10deg;
    }
    60% {
        rotate: -10deg;
    }
    100% {
        rotate: 0deg;
    }
}
.header__inner .action {
    display: flex;
    gap: 5px;
}
.header__inner .sign-up {
    padding: 12px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    background: rgba(203, 203, 203, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.3s, color 0.3s;
    white-space: nowrap;
}
.header__inner .login {
    padding: 12px;
    color: #fff;
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: 600;
}
.header__inner .login:hover {
    animation: spinner linear 0.3s;
    color: cyan;
    transform: scale(1.1);
}
.header__inner .sign-up:hover {
    animation: spinner linear 0.3s;
    transform: scale(1.1);
    color: cyan;
}
/* Hero */
.hero {
    position: relative;
    /* margin-top: -2px;
    position: relative;
    background: url(./img/bg-hero.jpg) no-repeat center / cover fixed; */
}
.bg-hero {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.hero__inner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.hero__inner .title {
    font-size: clamp(3rem, 11vw, 8rem);
    color: #fff;
    font-weight: 700;

    white-space: nowrap;
}
.hero__inner .desc {
    width: 80%;
    margin-top: 50px;
    color: #ffff;
    font-size: clamp(1.6rem, 3vw, 3rem);
    font-weight: 600;
    line-height: 2;
    text-align: center;
}
.hero__input {
    position: relative;
    width: max(280px, 40%);
}
.input-mail {
    padding: 5px 45px 5px 15px;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: clamp(1.6rem, 3vw, 2rem);
}
.send-mail {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff;
    border-radius: 5px;
    box-shadow: inset 0 0 0, 0 0 10px #8d8d8d;
    cursor: pointer;
    transition: all 0.3s;
}
.send-mail:hover {
    box-shadow: inset 0 0 5px, 0 0 0 #8d8d8d;
}
.input-icon {
    width: 40px;
    color: #000;
}
.hero__input .input-label {
    display: inline-block;
    margin: 20px 0 10px;
    color: #fff;
    font-size: clamp(1.6rem, 3vw, 3rem);
}
/* Produce */
.product {
    padding: 100px 0;
    background: #f5f5f5;
}
.product__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    position: relative;
    color: #000;
    font-size: clamp(3rem, 4vw, 6rem);
    margin-bottom: 50px;
    font-weight: 700;
    white-space: nowrap;
}
.product__title::after {
    position: absolute;
    top: 50%;
    left: calc(-1 * (5% + 10px));
    transform: translateY(-50%);
    content: "";
    width: 5%;
    height: 3px;
    background: #000;
}
.product__title::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(-1 * (5% + 10px));
    content: "";
    width: 5%;
    height: 3px;
    background: #002f87;
}
.card-item .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s;
    background: #fff;
}
.card-item .card:hover {
    box-shadow: 5px 5px 5px #ccc;
}
.card-item .card:hover .img {
    transform: scale(1.1);
}
.card__icon {
    color: #000;
    font-size: 2rem;
    transition: all 0.3s;
}
.card__icon:hover {
    color: orange;
    animation: spinner linear 0.3s;
}

.card__img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    background: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.card__img .img {
    width: 100%;
    transition: all 0.3s;
    height: auto;
    background-position: left bottom;
}
.card__title {
    font-size: 1.6rem;
    width: calc(100% - 20px);
    margin: 10px;
    height: 50px;
    color: #000;
    text-align: start;
    font-weight: 500;
    line-height: 1.55;
}
.card__price {
    width: fit-content;
    position: relative;
    color: red;
    font-weight: 500;
}
.card__price::after {
    content: "3.500.000";
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0, -50%);
    color: #8c8c8c;
    font-size: 1.4rem;
    font-style: oblique;
    text-decoration: line-through;
}
.card div:nth-of-type(2) {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card__pay {
    width: calc(100% - 20px);
    height: 30px;
    color: #ccc;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0 0 0 #8c8c8c, 2px 2px 5px #8c8c8c;
    transition: all 0.3s;
}
.card__pay:hover {
    cursor: pointer;
    color: rgb(254, 39, 39);
    box-shadow: inset 2px 2px 5px #8c8c8c, 0 0 0 #8c8c8c;
}
/* Introduce */

.introduce {
    background: #fff;
    padding: 100px 0;
}
.introduce__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduce__inner .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
}
.introduce__inner h2.title {
    position: relative;
    font-size: clamp(3rem, 4vw, 6rem);
    font-weight: 700;
    margin: 50px 0 20px;
    text-align: center;
}
.introduce__inner h2.title::before {
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);
    content: "";
    width: 50%;
    height: 5%;
    background: #000;
}
.introduce__inner h3.title {
    font-size: clamp(1.6rem, 3vw, 3rem);

    margin: 50px 0 20px;
}
.introduce__inner .desc {
    line-height: 1.5;
}
.introduce-on {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.introduce-on .introduce-on__col {
    width: 40%;
}
.introduce-bottom > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.introduce-bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.introduce__inner .introduce-group {
    margin: 20px 0;
    display: flex;
    justify-content: start;
    gap: 10px;
}
.introduce-bottom .introduce-group {
    height: 84px;
}

.introduce__inner > .desc {
    margin: 15px 0 30px;
    font-size: clamp(1.6rem, 3vw, 2rem);
    text-align: center;
}
.introduce-group .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 25px;
    flex-shrink: 0;
    border-color: #000;
}
/* footer */
.footer {
    padding: 100px 0;
    background: #000;
    color: #ffff;
}
.footer-cols {
    display: flex;
    flex-direction: column;
}
.footer-link {
    margin: 20px 0;
    display: flex;
}
.footer-link .link,
.footer-link .title {
    color: #999;
    transition: all 0.4s;
}

.footer-link .link:hover {
    color: #fed700;
    text-decoration: underline;
}
.footer-cols .title {
    margin-bottom: 10px;
    font-size: clamp(1.8rem, 2vw, 2rem);
    font-weight: 600;
}
.footer-list__item {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.footer-list__link {
    width: 100%;
    display: inline-block;
    color: #fff;
    line-height: 2;
    transition: all 0.5s;
}
.footer-list__link::before {
    position: absolute;
    top: 50%;
    left: calc(-1 * (5% + 5px));
    content: "";
    width: 0%;
    height: 1%;
    background: #fff;
    transition: all 0.5s;
}

.footer-list__item:hover .footer-list__link {
    transform: translateX(calc(5% + 5px));
    color: #fed700;
}
.footer-list__item:hover .footer-list__link::before {
    background: #fed700;
    width: 5%;
}
.footer-input {
    width: 80%;
    margin-top: 20px;
    position: relative;
}
.footer .input-icon {
    color: #000;
}
.footer-logo .logo {
    width: 181px;
}
